/* Imorted Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@800&family=Raleway:wght@900&display=swap');

/* Body Styling */
body{
    background-color: rgb(36, 36, 36);
}


/* Document Styling */
*{
    margin: 0;
    padding: 0;
}


/* NavBar Styling */
nav{
    position: sticky;
    top: 0px;
    font-family: "Ubuntu", sans-serif;
}


/* NavBar's Undefined List Styling: NavBar -> UL */
nav>ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: rgb(36, 36, 36);
    color: white;
    align-items: center;

}


/* NavBar's Undefined List's List Styling: NavBar -> UL -> Lists */
nav ul li{
    padding: 0 12px;
}


/* List for Logo Styling: NavBar -> UL -> List1(Logo) */
li.imgage{
    padding-right: 5px;
}


/* Logo Styling: NavBar -> UL -> List1(Logo) -> Image  */
.imgage img{
    width: 45px;
    border-radius: 3px;
   
}

/* List of Brand Name Styling: NavBar -> UL -> List2(Brand Name) */
.brand{
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 0px 0px;
}


/* Conatiner-Song List */
.heading{
    background-color:rgb(25, 25, 25) ;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    padding: 20px;
    position: relative;
}
.heading span{
   font-family: "Montserrat", sans-serif;
   font-size: 12px;
   font-weight: 400;

}
.heading img{
    position: absolute;
    right: 30px;
    top: 20px;
    width: 110px;
}
.container{
    background-color:rgb(28, 28, 28) ;
    height: 68vh;
    width: 95vw;
    color: white;
    overflow-x: hidden;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 25px;
    font-family:'Varela Round', sans-serif;
    ;

}
.container::-webkit-scrollbar {
    display: none;
}


/* Bottom Controller */
.bottom{
    display: flex;
    width: 100vw;
    position: fixed;
    height: 120px;
    background-color: rgb(30, 30, 30);
    bottom: 0px;
    /* border: 2px green solid; */
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}


/* Volume Bar */
#myProgressBar{
    width: 30vw;
    height: 3px;
    color: beige;
    cursor: pointer;
}


.icons{
   margin-top: 20px;
}

.icons i{
    margin: 2px;
    cursor: pointer;
}


.songList{
    margin: 15px;
    width: 100%;
}

.songItem1{
    /* border: 2px solid red; */
    height: 50px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 12px;
    padding-top: 20px;
    margin-right: 30px;
    margin-left: 5px;

}
progress::-moz-progress-bar {
    background-color: black; /* Change color to black */
  }

.songList img{
    width: 50px;
    margin-right: 10px;
}
.cover{
    display: flex;
}

.musicAndSinger{
    display: flex;
    flex-direction: column;
}

.music{
    font-weight: bold;
}
.singer{
    font-size: small;
    color: grey;
    margin-top: 3px;
}

table td{
    width: 25%;
}

.duration{
    width: 10%  !important;
}

.songPlaying{
    font-family:'Varela Round', sans-serif;
    position: absolute;
    left: 10px;
    display: flex;
}

.songPlaying img{
    width: 50px;
    margin-right: 5px;
    margin-left: 8px;
   
}

@media (max-width: 600px) {

    body{
        margin: 0px;
    }
    /* NavBar */
    nav{
        height: 50px;
    }
    li.imgage{
       padding-right: 0px;
    }
    nav ul li{
        padding: 0 6px;
        font-size: 0.7rem;
        padding-top: 6px;

    }
    nav .brand{
        font-size: 1.1rem;
    }


    /* Container */
    .dateAdded {
      display: none; /* Hide duration column */
    }

    #hiID{
        width: 55px;
        top: 12px;
    }
    #imgg{
        width: 40px;
        height: 40px;
    }

    #sngN{
      font-size: 15px;
    }

    #singN{
      font-size: 10px;
    }
    #myProgressBar, .icons{
        position: relative;
        left: 70px;
    }
    #tableid{
        margin: 0px;
     
        font-size: 0.8rem;
    }

    .container{
      height: 80vh;
      overflow-y: auto;
      margin: 0px;
      padding: 0px;
    }

    .heading{
        font-size: 25px;
       
        
        width: 83vw;
    }

    .heading span{
        font-size: 9px;
    }

    #myProgressBar{
        width: 50vw;
    }


  }

